# Webserver settings
export ALLOWED_ORIGINS="https://<my-webserver-hostname.com>"

# Database settings
export DB_USERNAME="<my-db-user>"
export DB_PASSWORD="<my-db-password>"
export DB_HOST="<my-db-host>"
export DB_NAME="<my-db-name>"

